body {
  margin: 0;
  color: white;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  font-family: sans-serif;
}

div {
  border-radius: 10px;
  background-color: black;
  padding: 4%;
}

ul {
  list-style: none;
}

li {
  font-size: 24px;
  text-align: justify;
  padding: 2%;
  background-color: grey;
  margin: 5px;
  border-radius: 5px;
  filter: brightness(80%);
}

li:hover {
  filter: brightness(100%);
}

#date {
  margin-bottom: 30px;
}

#heading {
  margin-top: 0;
}

input {
  font-size: 20px;
  padding: 4px;
  font-weight: lighter;
  border-radius: 5px;
  color: white;
  background-color: hash;
}

button {
  font-size: 18px;
  padding: 4px;
}
