body {
  margin: 0;
  color: white;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  font-family: sans-serif;
}

div {
  border-radius: 10px;
  background-color: black;
  padding: 4%;
}

ul {
  list-style: none;
}

li {
  font-size: 24px;
  text-align: justify;
  padding: 2%;
  background-color: grey;
  margin: 8px;
  border-radius: 5px;
  filter: brightness(80%);
}

li:hover {
  filter: brightness(100%);
  text-decoration: line-through;
}

#date {
  margin-bottom: 30px;
}

#heading {
  margin-top: 0;
}

input {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: none;
  border-bottom: solid 2px hash;
}

input:hover {
  border-bottom: solid 4px red;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

button {
  font-size: 18px;
  padding: 10px;
  height: 100%;
}
